    <div class="container">
        <ol  *ngIf="users.length != 0; else noUser">
            <div *ngFor="let user of users">
                <li [ngStyle]="{'border': user.role == 'staff' ? '2px solid purple' : (user.role== 'manager' ? '2px solid grey' : '2px solid lightblue') }">
                    <img src="{{user.profilePhotoUrl}}"> 
                    <strong>{{user.name}} {{user.surname}}</strong> 
                    {{user.age}}
                    {{user.address.city}}
                    <button (click)="delete(user.id)">Delete</button>
                </li>
            </div>
        </ol>
        <ng-template #noUser>Non sono presenti utenti</ng-template> 
    </div>





