.container{
    background-color: #bac8d3;
    border: 1px solid #758b9d;
    margin: 7.5px;
}

.row {
    display: flex;
    text-align: center;
    vertical-align: middle;

}
  
.column {
    flex: 50%;
    vertical-align: middle;
    margin: 7.5px;
}