.container {
    background-color: #d5e8d4;
    border-top: 2px solid #9ec58d;
    border-bottom: 2px solid #9ec58d;
    border-left: 2px solid #9ec58d;
    border-right: 2px solid #9ec58d;
}

ol {
    display: flex;
    flex-direction: column;
}

img {
    max-width:  150px;
    max-height: 120px;
}